<a href="{{ post.url }}">
			<div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
				<figure class="mdl-card__media">
					<img src="
					{% if page.url contains 'about' %}
						https://images.weserv.nl/?url=https://lifeexamined.github.io/assets/images/{{ post.image }}&w=600&h=400&output=jpg&q=65
						
					{% else %}
					https://images.weserv.nl/?url=https://lifeexamined.github.io{{ site.blog_directory }}{{ post.date | date: '%Y' }}/{{ post.date | date: '%m' }}/{{ post.date | date: '%d' }}-{{ post.title | slugify }}/{{ post.image }}&w=800&h=500&output=jpg&q=65
						
					{% endif %}
						" alt="" />
				</figure>
				<div class="mdl-card__content">
				<div class="mdl-card__title">
					<h3 class="mdl-card__title-text">{{ post.title }}</h3>
				</div>
				<div class="mdl-card__supporting-text">
					<p>{{ post.excerpt | strip_html | strip_newlines | truncate: 100 }}</p>
				</div>
				<div class="mdl-card__actions mdl-card--border">
    <a id="read-more-button" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ post.url }}">Read More</a>
    <div class="mdl-layout-spacer"></div>
					
					<!-- Go to www.addthis.com/dashboard to customize your tools --> 
					<!-- <div class="addthis_inline_share_toolbox"></div>  -->

					<button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">favorite</i></button>

					<!-- <div class="lb-count-copy" data-cardnum="{{ forloop.index }}"></div> -->
					
					<button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">share</i></button>
	  </div>
			</div>
		</div>
			</a>
 