<footer class="site-footer">

  <div class="header-wrapper">
    <a class="footer-icon" href="https://twitter.com/examined13" target="_blank"><div class="icon-container"><i class="fab fa-twitter"></i></div></a>
    <a class="footer-icon" href="https://www.facebook.com/enigmus.der.cat" target="_blank"><div class="icon-container"><i class="fab fa-facebook"></i></div></a>
    <a class="footer-icon" href="https://www.instagram.com/examinedblog" target="_blank"><div class="icon-container"><i class="fab fa-instagram"></i></div></a>
  </div>

</footer>
