.gallery {
    display: flex;
    flex-direction: row;
}

  .column {
    display: flex;
    flex-direction: column;
    width: 33.3333%;
    padding: 3px;
  }

  .column img {
      width: 100%;
      margin-bottom: 6px;
  }

  .column a {
    line-height: 0;
  }