
h1 {
    font-size: 72px !important;
    font-family: 'Oleo Script', cursive !important;

    text-align: center;
    line-height: 10px;
    margin-top: 25px !important;
    margin-bottom: 0px !important;
    color: black;


}

h4, h5, p {
    color: black;
    font-family: 'Lato', sans-serif !important;
}

ul {
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
}

h2 {
    font-family: 'Lato', sans-serif !important;
    font-weight: 400 !important;
    // color: #009688 !important;
    color: black;

}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
}

p {
    font-size: 18px !important;
    font-weight: 400 !important;
}

.front-page {
    color: white !important;

}

ul {
    list-style: none;

    display: flex;
    flex-direction: row;

    padding: 0;

    justify-content: center;

    margin: 10px 0px;

}

li {
    font-family: 'Roboto', sans-serif;
    padding: 0px 10px;
    transition: transform 0.3s cubic-bezier(.25,.8,.25,1);
    font-size: 24px;
}
li:hover {
    transform: scale(107%);
    color: royalblue;
}

.front-page a {
    text-decoration: none;
    color: white;
    text-shadow:     
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
    /* transition: all 0.3s cubic-bezier(.25,.8,.25,1); */
    font-size: 24px;
  }

  li > a {
    text-decoration: none;
    color: grey;
    font-size: 24px;
  }

    a {
    text-decoration: none;
    color: black;
    font-size: 24px;
  }

  .header-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.page-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding-bottom: 25px;

}


body {
    background-position-x: center;
    background-position-y: -220px;
    background-size: 1900px;
    background-repeat: no-repeat;
    background-color: none;


    z-index: -1;

    /* transition: background-size 0.3s cubic-bezier(.25,.8,.25,1); */

}

@media screen and (max-width: 360px) {
    body {
        background-position-x: center;
        background-position-y: 0px;
        background-size: 850px;
        background-repeat: no-repeat;
    
    
        z-index: -1;

        /* transition: background-size 0.3s cubic-bezier(.25,.8,.25,1); */
    
    }
}

@media (min-width: 361px) and (max-width: 768px) {
    body {
        background-position-x: center;
        background-position-y: 0px;
        background-size: 1000px;
        background-repeat: no-repeat;

    
        z-index: -1;

        /* transition: background-size 0.3s cubic-bezier(.25,.8,.25,1); */

    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    body {
        background-position-x: center;
        background-position-y: 0px;
        background-size: 1200px;
        background-repeat: no-repeat;
    
        z-index: -1;

        /* transition: background-size 0.3s cubic-bezier(.25,.8,.25,1); */

    }
}

#bg-cover {
    background-color: hsla(0, 0%, 0%, 0.33);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.description {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-align: center;
    /* text-shadow: 
        1px 1px 0px rgba(0,0,0,0.8),
        -1px 1px 0px rgba(0,0,0,0.8),
        1px -1px 0px rgba(0,0,0,0.8),
        -1px -1px 0px rgba(0,0,0,0.8),
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15); */
        width: 500px;  
}

.bground-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0,0,0,.6);
    width: 100vw;
}

#header {
    /* background-color: grey; */
    top:25px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    align-items: center;

    @include media-query($on-palm){
        width: 90% !important;
    }
}

.site-header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.container {
    top: 500px;
    position: relative;
}

.site-footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

// i {
//     color: black;
//     font-size: ;
// }

/**
 * Site footer
 */

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    // @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.icon-container {
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 0px 5px;
}

.icon-container > i {
    color: white !important;
}

.footer-icon {
    text-shadow: none;
}

h2.post-title {
    font-size: 36px;
    font-weight: 400;
}

p > a > img {
    width: 100% !important;
}