:root {
  --myRatio: calc(100vw / 10);
  --my-variable: calc(var(--myRatio) / 100vw);
  --my-variable-two: calc(var(--my-variable) + 200px);
}

#parallax {

    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -220px;
    background-size: calc(100% + 100px);
    background-position: 50% 15%;

    background-image: url(/assets/images/cover-photo.jpg);

    background-repeat: no-repeat;
    background-color: black;

    overflow-y: hidden;
  
  }



  @media screen and (max-width: 800px) {
    #parallax {
      background-size: auto calc(100% + 100px);
      background-position: 50% 0%;
    }
}