---
layout: gallery-wrapper
---
{% assign originalPhotos = '/assets/gi-original/' %}
{% assign thumbnailImg = '' %}

<article class="post">

  <header class="post-header">
    <h2 class="single-page post-title">{{ page.title }}</h1>
  </header>

  <div class="single-page post-content">
    {{ content }}

    <div class="gallery" style="display: none !important;">
      {% assign image_files = site.static_files | where: "image", true %}

      <div id="column-1" class="column">
        {% for myimage in image_files reversed %}
        {% assign every_third = forloop.index | modulo:3 %}

        {% if every_third == 1 %}
       
          <a href="{{ myimage.path }}"><img src="https://images.weserv.nl/?url=https://lifeexamined.github.io{{ myimage.path }}&w=200&h=200&output=jpg&q=65" /></a>
        
        {% else %}
        {% continue %}
        {% endif %}
        {% endfor %}
      </div>
      
      <div id="column-2" class="column">
        {% for myimage in image_files reversed %}
        {% assign every_third = forloop.index | modulo:3 %}

        {% if every_third == 2 %}

        <a href="{{ myimage.path }}"><img src="https://images.weserv.nl/?url=https://lifeexamined.github.io{{ myimage.path }}&w=200&h=200&output=jpg&q=65"></a>
          
        {% else %}
        {% continue %}
        {% endif %}
        {% endfor %}
      </div>

      <div id="column-3" class="column">
        {% for myimage in image_files reversed %}
        {% assign every_third = forloop.index | modulo:3 %}

        {% if every_third == 0 %}

        <a href="{{ myimage.path }}"><img src="https://images.weserv.nl/?url=https://lifeexamined.github.io{{ myimage.path }}&w=200&h=200&output=jpg&q=65"></a>
          
        {% else %}
        {% continue %}
        {% endif %}
        {% endfor %}
      </div>
        

      
      </div>
                 
    </div>
      </div>

</article>
<div id="mygallery"></div>
<div id="mydiv"></div>

<script type="text/babel">
  const divStyle = {
    position: 'fixed',
    width:'100%',
    height: '100%',
    display: 'flex',
    top: '0',
    left: '0',
    'flex-direction': 'row',
    'justify-content': 'center',
    'align-items': 'center'
  }

  const backgroundStyle = {
    'background-color': 'black',
    width: '100vw',
    height: '100vh',
    display: 'flex',
    'flex-direction': 'row',
    'justify-content': 'center',
    'align-items': 'center',
    position: 'fixed',
    top: '0',
    right: '0',
    'z-index': '100'

  }

  const closeGalleryStyle = {
    'align-self': 'flex-start',
    padding: '20px',
    position: 'absolute',
    top:'0',
    right:'0'
  }

  const cardWrapperStyle = {
    display: 'flex',
    'flex-direction': 'column',
    'justify-content':'center',
    'align-items':'center',
    'width':'auto'
  }

  const cardStyle = {

    'background-image': 'black',
    position: 'relative'
  }

const subCardStyle = {
    display:'flex',
    'flex-direction':'column',
    'align-items':'center',
    width: 'auto'
  }

  const cardMetaStyle = {
    position: 'absolute',
    width: '100%',
    height: '100%',
    'background-color': 'rgba(200, 200, 200, 0.5)',
    top: '0',
    left: '0',
    transition: 'all 0.2s ease-out',
    display: 'flex',
    'flex-direction': 'row',
    'justify-content': 'space-between'
  }

  const cardPhotoStyle = {
    width: 'auto',
    height: '100vh',
    display:'flex',
    'flex-direction':'row',
    'justify-content':'center',
    'align-items':'center'
  
  }

  const buttonStyle = {
  height: '50px',
  width: '50px',
  'background-color': 'white',
  color: 'black',
  border: 'none',
  'border-radius': '100px',
  margin: '20px',
  'font-size': '25px',
  margin: '20px'
}

const countStyle = {
  'align-self': 'center',
  'justify-self':'center',
  color: 'white',
  padding: '10px',
  'background-color':'black',
  position:'absolute',
  bottom:'0'
}

const imgStyle = {
  display:'flex',
  'flex-direction':'column',
  'justify-content':'flex-end'
}

  const cardObj = {
    "properties": [
    {% for myimage in image_files %}
    {% assign cardNumber = forloop.index %}
    {
      "index":{{ cardNumber }},
      "path":"{{ myimage.path }}"
    },
    {% endfor %}
    ]
  }

  console.log(cardObj);

class Search extends React.Component {

render(){
    return (
      <div class="gallery">
          {% assign image_files = site.static_files | where: "image", true %}

       <div id="column-1" class="column">
        {% for myimage in image_files reversed %}
        {% assign every_third = forloop.index | modulo:3 %}
        {% assign cardIndex = forloop.rindex0 %}

        {% if every_third == 1 %}
       
          <CardProps cardminiimg="https://images.weserv.nl/?url=https://lifeexamined.github.io{{ myimage.path }}&w=200&h=200&output=jpg&q=65" cardprop="{{ myimage.path }}" id="{{ cardIndex }}" />
        
        {% else %}
        {% continue %}
        {% endif %}
        {% endfor %}
      </div>
      
      <div id="column-2" class="column">
        {% for myimage in image_files reversed %}
        {% assign every_third = forloop.index | modulo:3 %}
        {% assign cardIndex = forloop.rindex0 %}

        {% if every_third == 2 %}

        <CardProps cardminiimg="https://images.weserv.nl/?url=https://lifeexamined.github.io{{ myimage.path }}&w=200&h=200&output=jpg&q=65" cardprop="{{ myimage.path }}" id="{{ cardIndex }}" />
          
        {% else %}
        {% continue %}
        {% endif %}
        {% endfor %}
      </div>

      <div id="column-3" class="column">
        {% for myimage in image_files reversed %}
        {% assign every_third = forloop.index | modulo:3 %}
        {% assign cardIndex = forloop.rindex0 %}

        {% if every_third == 0 %}

          <CardProps cardminiimg="https://images.weserv.nl/?url=https://lifeexamined.github.io{{ myimage.path }}&w=200&h=200&output=jpg&q=65" cardprop="{{ myimage.path }}" id="{{ cardIndex }}" />
          
        {% else %}
        {% continue %} 
        {% endif %}
        {% endfor %}
      </div>
      </div>
      
      )
    }

}

class Modal extends React.Component {
  constructor(props){
    super(props)

  }

    render(){
      if(!this.props.show){
        return null;
      }
      return <div>{this.props.children}</div>;
    }
  }

  class CardProps extends React.Component {
    constructor(props){
    super(props)
    this.state = {
      properties: cardObj.properties,
      property: cardObj.properties[0]
    }
  }

  currentProperty = e => {
  const clickedImg = e.target.id;
  this.setState({
    property: cardObj.properties[clickedImg]
  })
}

nextProperty = () => {
  const newIndex = (this.state.property.index-1)+1;
  this.setState({
    property: cardObj.properties[newIndex]
  })
}

prevProperty = () => {
  const newIndex = (this.state.property.index-1)-1;
  this.setState({
    property: cardObj.properties[newIndex]
  })
}

    state = {
    show: false,
    };

    showModal = e => {
    this.setState({
      show: !this.state.show,
      property: cardObj.properties[e.target.id]
    });
    };

    closeModal = e => {
    this.setState({
      show: !this.state.show,
    });
    };

    onClose = e => {
      this.props.onClose && this.props.onClose(e);
     };

     render(){
  const {properties, property} = this.state
      return(
        <div>
        <Modal onClose={this.showModal} show={this.state.show}> 
        <div class="background" style={backgroundStyle}>
          <a onClick={e => {this.closeModal(e);}} class="close-gallery" style={closeGalleryStyle}>X</a>
          <button class="fa fa-chevron-circle-left" style={buttonStyle} onClick={e => {this.prevProperty(); console.log(this.state.property.index)}} disabled={property.index === 1}></button>
        <div class="card-wrapper" style={cardWrapperStyle}>
          <div class="card" style={cardStyle}>
            <CardSliderThing cardprop={this.props.cardprop} dataindex={this.props.dataindex} property={property} />
            </div>
            
            </div>
            <button style={buttonStyle} class="fa fa-chevron-circle-right" onClick={e => {this.nextProperty(); console.log(this.state.property.index)}} disabled={property.index === cardObj.properties.length}></button>
          </div>
      </Modal>
        <a onClick={e => {this.showModal(e); console.log(e.target.id);}}><img id={this.props.id} src={this.props.cardminiimg} /></a>
        </div>
      )
    }

  }
  
  
 const CardSliderThing = ({property}) => {

const { index, path } = property;

  return(

    <div style={subCardStyle}>
  <div class="card-photo" style={cardPhotoStyle}>
              <div style={imgStyle}>
                <img src={path} />
                
                </div>
                <div class="count" style={countStyle}>{index}/{% for myimage in image_files %}{% assign numberTotal = forloop.length %}{% if forloop.first == true %}{{ numberTotal }}{% break %}{% endif %}{% endfor %}</div>
                </div>
            </div>

  )
}


  ReactDOM.render(<Search />, document.querySelector('#mygallery'))

</script>
