body {
    overflow-x: hidden;
}

img {
    width:600px;
    height: auto;
}

.blog-image {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    width: 100%;
}

.mdl-card:hover {
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.mdl-card:hover .blog-image {
	transform: scale(110%);
	opacity: 70%;
}

.blog-title {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
}

.blog-title:hover {
    color: rgb(24, 197, 255);
}

h1 {
    font-size: 72px;
    font-family: 'Oleo Script', cursive;
    font-weight: 100;

    text-align: center;
    line-height: 10px;

    color: black;
}

h2, h3, h4, h5, p, ul {
    font-family: 'Roboto', sans-serif;
    color: black;
}

ul {
    list-style: none;

    display: flex;
    flex-direction: row;

    padding: 0;

    justify-content: center;

    margin: 10px 0px 0px;

}

li {
    font-family: 'Roboto', sans-serif;
    padding: 0px 10px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-size: 24px;

}
li:hover {
    transform: scale(107%);
}

.blue-hover {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.blue-hover:hover {
    color: rgb(24, 197, 255);
}

a {
    text-decoration: none;
    color: inherit;
  }

.mdl-button {
    font-family: 'Roboto', sans-serif;
}

.fa {
    color: black;
    cursor: pointer;
}

.mdl-button:hover {
    color: rgb(24, 197, 255) !important;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.single-menu {
    color: grey;
}

.active {
    color: black !important;
}



#header {
    /* background-color: grey; */
    top:25px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    align-items: center;
}

.container {
    position: relative;
}

.content-container {
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: center;
}

.content-container > a {
    margin: 5px;
}

.content-container > a > img {
    width: 100%;
}

/* 
.mdl-layout {
    width: 50%;
} */

.content-wrapper {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.container {
    padding-bottom: 75px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px 0px 20px;
}

.page-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    bottom:0;
}

i {
    color: white;
    scale: 125%;
}

.icon-container {
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 15px 5px;
}

.blog-card {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 5px 15px;
    margin: 10px 0px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.mdl-card {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin: 25px 5px;
    /* width: 480px; */
}

.mdl-card-divider {
    width: 100%;
    border: 0;
    height: 1px;
    background: rgb(192, 192, 192);
    margin-top: 0;
    margin-bottom: 20px;
}

.img-container {
    background-color: white;
    overflow: hidden;
    line-height:0;
}

.mdl-grid {
	max-width: 600px;
}
.mdl-card__media {
	margin: 0;
}
.mdl-card__media > img {
	width: 100%;
}
.mdl-card__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	box-sizing:border-box;
	align-items: center;
}
.mdl-card__actions > .mdl-button--icon {
    color: black;
	margin-right: 3px;
	margin-left: 3px;
}

.card-content {
    padding: 0px 20px 20px 20px;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

.gallery {
    display: flex;
    flex-direction: row;
}

  .column {
    display: flex;
    flex-direction: column;
    width: 33.3333%;
    padding: 3px;
  }

  .column img {
      width: 100%;
      margin-bottom: 6px;
  }

  .column a {
    line-height: 0;
  }

  @media (max-width: 600px){

    .content-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    img {
        width:320px;
    }

    .mdl-card {
        width: 320px;
        margin: 16px 0px;        
    }

}

p > a {
    line-height: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}